<!-- form-dependencia.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Formulario de Dependencia</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenido de tu formulario de dependencia -->
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nuevaDependencia.Nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Tipo de Dependencia</ion-label>
    <ion-input [(ngModel)]="nuevaDependencia.TipoDependencia"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="agregarDependencia()">Agregar Dependencia</ion-button>
</ion-content>

