<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <app-sign-in></app-sign-in>

  <ion-card class="signup-card">
    <ion-card-header>
      <ion-card-title>Crear cuenta</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>No tienes cuenta? Crea una ahora!</p>
      <ion-button color="tertiary" expand="block" (click)="openSignUpModal($event)">Crear cuenta</ion-button>
    </ion-card-content>
  </ion-card>

  <!--<ion-button (click)="navigateToTabs()">Ir a Tabs</ion-button>-->
</ion-content>
