<ion-header>
  <ion-toolbar>
    <ion-title>Crear cuenta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear cuenta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" #email required></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" #password required></ion-input>
        </ion-item>

        <ion-button color="tertiary" expand="block" type="submit">Crear cuenta</ion-button>
      </form>

      <p class="ion-text-center">
        Ya tienes una cuenta? 
        <button (click)="closeModal()" class="link-button">Inicia sesión</button>
      </p>
    </ion-card-content>
  </ion-card>