<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="crear-eventos" href="/tabs/crear-eventos">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Crear</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="registrar" href="/tabs/registrar">
      <ion-icon name="duplicate"></ion-icon>
      <ion-label>Registrar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="eventos-registrados" href="/tabs/eventos-registrados">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Administracion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
