<ion-title size="large">DASHBOARD</ion-title>

<ion-card class="ion-text-center">
  <ion-card-content>
    <h2 class="ion-text-center">THANK YOU</h2>
    <ion-list>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-text>{{ usuario.nombre }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-text>{{ usuario.email }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Rol:</ion-label>
        <ion-text>{{ usuario.rol }}</ion-text>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

  <ion-button (click)="logOut()" color="danger">Log Out</ion-button>
  <ion-card class="ion-text-center">
    <ion-card-content>
      <h2 class="ion-text-center">THANK YOU</h2>
    </ion-card-content>
  </ion-card>

