<!-- src/app/detalles/detalles.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Evento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Aquí muestra los detalles del evento seleccionado -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ evento.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lugar: {{ evento.fkIdSede }}</p>
      <p>Categoría: {{ evento.categoria }}</p>
      <p>Temario: {{ evento.temario}}</p>
      <p>Capacidad: {{ evento.capacidad }}</p>
      <p>Costos: {{ evento.costos }}</p>
      <p>Disponibilidad: {{ evento.disponibilidad }}</p>
      <p>Fecha de Creación: {{ evento.fechaCreacion.toDate() | date }}</p>
      <p>Fecha del Evento: {{ evento.fechaEvento.toDate() | date}} </p>
      <p>Lugar: {{sede.Calle}}, {{sede.Colonia}}, {{sede.Municipio}}, {{sede.Estado}}, {{sede.CodigoPostal}}</p>
      <!--<p>Dependencia: {{dependencia.NombreDependencia}}, {{dependencia.TipoDependencia}}</p>-->
      <ion-img [src]="evento.poster" alt="Imagen del evento"></ion-img>
      <!-- Puedes agregar más detalles aquí según sea necesario -->
    </ion-card-content>
  </ion-card>

  <ion-button (click)="abrirEdicionEvento()">Editar</ion-button>

  <ion-button (click)="eliminarEvento()">Eliminar</ion-button>
</ion-content>

<!---
export interface Evento {
  idEvento: string;
  nombre: string;
  categoria: string;
  fkIdSede: string;
  dependencias: string;
  poster: string;
  temario: string;
  costos?: number;
  capacidad: number;
  disponibilidad?: string;
  fkIdInvitados?: string;
  fechaEvento: Timestamp;
  fechaCreacion: Timestamp;
}-->
