<ion-header>
  <ion-toolbar>
    <ion-title>
      Agregar Invitado
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="nombre"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Correo</ion-label>
    <ion-input type="email" [(ngModel)]="correo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Evento</ion-label>
    <ion-select [(ngModel)]="idEvento">
      <ion-select-option *ngFor="let evento of eventos" [value]="evento.id">{{ evento.nombre }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="guardarInvitado()">Guardar</ion-button>
</ion-content>

