<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-card>
      <div class="card-container">
        <div class="date-container">
          <div class="day">25</div>
          <div class="month">May</div>
        </div>        
        <div class="info-container">
          <ion-card-header>
            <ion-card-title>Nombre del Evento</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Lugar: Sala de Conferencias</p>
            <ion-button color="tertiary" expand="full" fill="outline">Ver más detalles</ion-button>
          </ion-card-content>
        </div>
      </div>
    </ion-card>

    <ion-card>
      <div class="card-container">
        <div class="date-container">
          <div class="day">25</div>
          <div class="month">May</div>
        </div>        
        <div class="info-container">
          <ion-card-header>
            <ion-card-title>Nombre del Evento</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Lugar: Sala de Conferencias</p>
            <ion-button color="tertiary" expand="full" fill="outline">Ver más detalles</ion-button>
          </ion-card-content>
        </div>
      </div>
    </ion-card>

    <ion-card>
      <div class="card-container">
        <div class="date-container">
          <div class="day">25</div>
          <div class="month">May</div>
        </div>        
        <div class="info-container">
          <ion-card-header>
            <ion-card-title>Nombre del Evento</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Lugar: Sala de Conferencias</p>
            <ion-button color="tertiary" expand="full" fill="outline">Ver más detalles</ion-button>
          </ion-card-content>
        </div>
      </div>
    </ion-card>

    <ion-card>
      <div class="card-container">
        <div class="date-container">
          <div class="day">25</div>
          <div class="month">May</div>
        </div>        
        <div class="info-container">
          <ion-card-header>
            <ion-card-title>Nombre del Evento</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Lugar: Sala de Conferencias</p>
            <ion-button color="tertiary" expand="full" fill="outline">Ver más detalles</ion-button>
          </ion-card-content>
        </div>
      </div>
    </ion-card>

    <ion-card>
      <div class="card-container">
        <div class="date-container">
          <div class="day">25</div>
          <div class="month">May</div>
        </div>        
        <div class="info-container">
          <ion-card-header>
            <ion-card-title>Nombre del Evento</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Lugar: Sala de Conferencias</p>
            <ion-button color="tertiary" expand="full" fill="outline">Ver más detalles</ion-button>
          </ion-card-content>
        </div>
      </div>
    </ion-card>

    <ion-card>
      <div class="card-container">
        <div class="date-container">
          <div class="day">25</div>
          <div class="month">May</div>
        </div>        
        <div class="info-container">
          <ion-card-header>
            <ion-card-title>Nombre del Evento</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Lugar: Sala de Conferencias</p>
            <ion-button color="tertiary" expand="full" fill="outline">Ver más detalles</ion-button>
          </ion-card-content>
        </div>
      </div>
    </ion-card>

      
</ion-content>
